<div class="row">
	<div class="col-8 boxed">
		{{id}}. {{burger_name}}
	</div>
	<div>
		<button class="mt-3" id="change-devour" data-id="{{id}}" data-newdevour="{{devoured}}">
			{{#if devoured}}{{else}}DEVOUR IT!{{/if}}
		</button>
	</div>
</div>